python-if_else_loops_functions/7-main.c.py
python-if_else_loops_functions/__pycache__/7-islower.cpython-310.pyc
python-if_else_loops_functions/8-main.py
python-if_else_loops_functions/__pycache__/8-uppercase.cpython-310.pyc
python-if_else_loops_functions/9-main.py
python-if_else_loops_functions/__pycache__/9-print_last_digit.cpython-310.pyc
